.empty-favorites-container {
    background-color: #1B1B1B; 
    border-radius: 30px; 
    max-width: 800px; 
    width: 100%;
    padding: 20px; 
    margin: 10px auto; 
    
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-favorites-title {
    font-size: 1.6em; 
    font-weight: bold;
    margin-bottom: 20px; 
}

.empty-favorites-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; 
}

.nocourse-icon-image {
    
    width: 250px; 
    height: auto;
}

.browse-courses-button {
    background-color: #E0E0E0;
    color: #1B1B1B;
    border: none;
    border-radius: 30px;
    padding: 12px 30px; 
    font-size: 1.1em; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.browse-courses-button:hover {
    background-color: #FFFFFF;
    transform: translateY(-2px);
}