.instructor-list {
    display: flex; 
    flex-wrap: wrap; 
    gap: 40px; 
    justify-content: center;
}

.instructor-card {
    background-color: #1B1B1B;
    border-radius: 20px; 
    padding: 40px 30px; 
    width: 380px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instructor-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.8); 
}

.instructor-avatar-container {
    width: 130px; 
    height: 130px; 
    border-radius: 50%; 
    margin: 0 auto 20px auto; 
    overflow: hidden; 
    background-color: #333333; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.8;
}

.instructor-name {
    font-size: 1.5em; 
    font-weight: bold; 
    margin-bottom: 15px; 
}

.instructor-bio {
    font-size: 0.9em;
    color: #ccc;
    margin-bottom: 25px;
    line-height: 1.4;
    text-align: center;
}

.instructor-courses {
    margin-top: 15px;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.course-list-item {
    font-size: 1em;
    color: #DDDDDD; 
    margin-bottom: 10px;
    line-height: 1.4;
    padding-left: 10px;
    border-left: 2px solid #333333;
}

.show-all-courses {
    display: block;
    
    /* Centrowanie */
    width: fit-content;
    margin: 30px auto 0 auto;
    
    /* Kontrastowy wygląd przycisku */
    background-color: #646cff; 
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.show-all-courses:hover {
    background-color: #535bf2;
    color: #FFFFFF;
    text-decoration: none;
    transform: translateY(-2px);
}