.page-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px; 
}

.add-course-button {
    background-color: #28A745;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 10px 25px; 
    font-size: 1em; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.add-course-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.card-edit-button {
    background-color: transparent;
    color: #E0E0E0;
    border: 2px solid #555;
    border-radius: 20px;
    padding: 6px 15px;
    font-size: 0.85em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 15px; 
    margin-left: 5px; 
    width: calc(100% - 10px);
    box-sizing: border-box;
}

.card-edit-button:hover {
    background-color: #333;
    border-color: #E0E0E0;
    color: #FFFFFF;
}

.card-certificate-button {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 6px 15px;
    font-size: 0.85em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 15px; 
    margin-left: 5px; 
    width: calc(100% - 10px);
    box-sizing: border-box;
}

.card-certificate-button:hover {
    background-color: #0056b3;
}